footer {
  background-color: #424242;
  padding: 30px 0;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 10px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-3 {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  color: #857d7d;
  font-style: oblique;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #e4c6c6;
  text-decoration: none;
}

a:hover {
  color: #333;
}

.iii {
  background-image: url("../qr-code.png");
  width: 150px;
  height: 150px;
  background-size: cover;
}
